.header {
  font-family:'shift', "Lucida Grande",'sans-serif';
  font-size:20px;
  color:white;
  background-color:#0A67A3;
  padding:10px;
  background-size:cover;
  text-align:center;
    border-radius: 10px;
  
}
footer {
  background-color:#FF8500;
  height:40px;
    width: 100%;
  text-align:center; 
    align-content: center;
    transition:0.5s ease;
    position: fixed;
    bottom: 0;
    left: 0;
    
    
}

footer:hover {
height: 50px;

}

footer a {
  color:white;
    text-decoration:none;
    font-size:30px;
    border-radius: 10px;
    transition: 1s ease;
}

.filmer img {
height:400px;
width:280px;
border-radius: 10px;
transition: height 1s ease ;
}

.filmer img:hover {
    height: 430px;
    
}

footer a:hover{
color:#0A67A3;
font-size:40px;

}

#ride {
   width:320px;
    padding:20px;

    
}

.brodtext {
width: 320px;
text-align:justify;
position:relative;
font-size:20px;
padding-bottom: 20px;

    



}

iframe {
position:relative;
padding:50px;
    
    
    
    

}